:root {
  --skyblue: #59b4f6
}


html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar,
#projects-container::-webkit-scrollbar,
#toolbox::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track,
#projects-container::-webkit-scrollbar-track,
#toolbox::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb,
#projects-container::-webkit-scrollbar-thumb,
#toolbox::-webkit-scrollbar-thumb {
  background-color: var(--skyblue);
  border-radius: 20px;

}

#links {
  display: inline;
  margin-right: 50px;
}

a {
  font-family: 'Source Code Pro', monospace;
  font-size: 11rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

a:hover {
  color: var(--skyblue);
}

header {
  position: fixed;
  justify-content: space-between;
  z-index: 5;
  height: 57px;
  padding: 0 50px;
  background-color: inherit;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.40);
}

header .logo {
  font-size: 18rem;
  margin-left: 50px;
}

header #links a {
  font-size: 12rem;

}

#panels {
  display: none;
}

#welcome-section-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

#welcome {
  z-index: 2;
  width: 750px;
  height: 250px;
  align-items: flex-end;
  padding-top: 0px;
  margin-top: 130px;
  text-align: right;
  background: linear-gradient(282deg, rgba(3, 5, 11, 1.0) 69.62%, rgba(71, 71, 71, 0.00) 87.6%);
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25);
}

#welcome h5 {
  align-self: flex-end;
  margin-right: 115px;
  width: fit-content;
  font-size: 16rem;
}

#welcome>p {
  width: 60%;
  font-size: 14rem;
}

#welcome>p {
  margin-right: 100px;
}

#welcome #avatar {
  width: 90px;
  position: absolute;
  top: 65px;
  right: 15px;
}

#welcome-section-container #code {
  position: absolute;
  z-index: 0;
  bottom: 0px;
  display: inline;
  height: 250px;
  opacity: 0;
  transition: 1.5s all ease;
}

#welcome .quote {
  font-size: 10rem;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 40px;
  width: fit-content;
  margin-right: 15px;
}

#projects-container {
  margin-top: 60px;
  width: 400px;
  height: 300px;
}
#projects-container .project:hover{
  background-color: #31416b;
  cursor: pointer;
}
#project-descriptor {
  top: 370px;
  width: 400px;
  height: fit-content;
  padding-bottom: 20px;
}

#project-descriptor #close {
  margin: 15px 15px 0 0;
}

#project-descriptor #description h5 {
  font-size: 11rem;
}

#project-descriptor #description #links {
  margin-left: 50px;
  margin-top: 0px;
  width: 85%;
  font-weight: bolder;
}

#project-descriptor #description #gallery {
  height: 137px;
}

#project-descriptor #description #gallery img {
  height: 125px;
}

#project-descriptor #description>p {
  margin-bottom: 10px;
  font-size: 9rem;
}

#project-descriptor #description #tools-detail {
  overflow-x: hidden;
  margin-bottom: 5px;
}

#project-section-container {
  display: grid;
  grid-template-areas:
    "projects-container title"
    "projects-container info"
  ;
  column-gap: 50px;
  padding: 0 50px;
}

#project-section-container h3 {
  display: none;
}

#project-section-container div h3 {
  display: block;
  grid-area: title;
  margin: 60px 0;
  color: var(--skyblue);
}

#project-section-container div p {
  display: block;
  grid-area: info;
}

#tools-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
  padding: 70px;
  margin-bottom: 50px;
}

#tools-section-container div {
  justify-self: flex-end;
}

#tools-section-container div h3 {
  margin-bottom: 70px;
  text-align: end;
  color: var(--skyblue);
}

#tools-section-container div p {
  display: flex;
  max-width: 500px;
  text-align: right;
}

#tools-container {
  width: max-content;
  justify-content: center;
}

#tools-container #toolbox {
  padding-right: 20px;
}

#tools-container #filter-container {
  margin-right: 5px;
}

#tools-container #filter-container #filter-container-options {
  bottom: -170px;
}
#toolbox .svg-container svg{
  cursor: pointer;
}
#contact h3{
  margin-left: 0;
}


/* MIDDLEWARES */

@media screen and (min-width: 1440px) {
  #project-section-container {
    padding: 0 205px;
  }
}

@media screen and (min-width: 2560px) {
  #project-section-container {
    padding: 0 755px;
  }
}





@media screen and (min-width: 760px) {
  #tools-section-container {
    padding-right: 0px;

  }
}

@media screen and (min-width: 1024px) {

  #project-section-container{
    padding: 0 65px;
  }

  #project-section-container #projects-container{
    justify-self: end;
  }

  #project-section-container div p {
    max-width: 400px;
}

#tools-section-container {
  padding-right: 110px;
  column-gap: 75px;
}
  

@media screen and (min-width: 1440px) {
  header {
    height: 65px;
  }

  header .logo {
    font-size: 18rem;
  }

  header #links a {
    font-size: 12rem;
  }

  #welcome {
    margin-top: 160px;
    width: 1030px;
  }

  #welcome h5 {
    font-size: 18rem;
  }

  #welcome p {
    width: 75%;
    font-size: 16rem;
  }

  #welcome .quote {
    font-size: 13rem;
  }

  #project-section-container {
    padding: 0px 310px;
  }

  #project-section-container div h3,
  #tools-section-container div h3 {
    font-size: 30rem;
  }

  #project-section-container div p.disabled,
  #tools-section-container div p.disabled {
    font-size: 24rem;
    width: 600px;
  }
  #project-section-container div p {
    max-width: 700px;
}
#project-section-container #project-descriptor {
  top: 400px;
}
  #tools-section-container {
    padding-right: 80px;
    column-gap: 90px;
  }
  #contact h3{
    margin-bottom: 40px;
    font-size: 30rem;
  }
  #contact #contact-form{
    width: 300px;
    row-gap: 15px;
  }
  #contact #contact-form label{
    font-size: 14rem;
  }
  #contact #contact-form label input{
    height: 40px;
  }
  #contact #contact-form label textarea{
    font-size: 16rem;
  }
  .status-mail-error, .status-mail-success {
    width: 200px;
    bottom: 70px;
    right: 60px;
    font-size: 14rem;
  }
  .quote{
    font-size: 14rem;
    margin: 30px;
  }
  footer {
    height: 70px;
    padding-top: 35px;
    font-size: 12rem;
}
  
  @media screen and (min-width: 2560px){

    body::-webkit-scrollbar, #projects-container::-webkit-scrollbar, #toolbox::-webkit-scrollbar {
      width: 10px;
  }

    header {
      height: 110px;
    }
  
    header .logo {
      font-size: 26rem;
    }
  
    header #links a {
      font-size: 19rem;
    }
  
    #welcome {
      margin-top: 190px;
      width: 1900px;
      height: 500px;
      /* background: linear-gradient(282deg, rgba(3, 5, 11, 1.0) 69.62%, rgba(71, 71, 71, 0.00) 87.6%); */
    }
    #welcome-section-container #code{
      height: 520px;
    }
    #welcome h5 {
      margin-right: 250px;
      font-size: 34rem;
    }
  
    #welcome p {
      margin-right: 250px;
      width: 70%;
      font-size: 26rem;
    }
    #welcome #avatar {
      width: 200px;
      top: 95px;
      right: 35px;
  }
    #welcome .quote {
      margin-top: 80px;
      margin-right: 60px;
      font-size: 20rem;
    }
  
    #project-section-container {
      margin-top: 100px;
      padding: 0px 630px;
      column-gap: 180px;
    }
    #project-section-container div p {
      max-width: 800px;
  }
  #projects-container{
    width: 500px;
    height: 375px;
  }
  
  #projects-container .project{
    width: 430px;
    height: 150px;
  }
  #projects-container .project figure{
    margin: 0 25px;
  }
  #projects-container .project figure img{
    width: 125px;
    height: 110px;
  }
  #projects-container .project .info h5{
    font-size: 20rem;
  }
  #projects-container .project .info p{
    font-size: 13rem;
  }
  #projects-container .project .info .tools svg{
    width: 24px;
    height: 24px;
  }
  #project-section-container #project-descriptor{
    top: 700px;
    left: 618px;
    width: 575px;
  }
  #project-descriptor #close {
    margin: 20px;
    width: 38px;
    height: 38px;
}
  #project-descriptor #description{
    width: 430px;
  }
  #project-descriptor #description h5 {
    font-size: 25rem;
}
#project-descriptor #description #gallery {
  height: 175px;
}
#project-descriptor #description #gallery img {
  height: 170px;
}
  #project-descriptor #description>p{
    margin-bottom: 20px;
    width: 385px;
    font-size: 16rem;
  }
  #project-descriptor #description h6 {
    font-size: 18rem;
}
#project-descriptor #description #tools-detail .detail svg {
  width: 32px;
  height: 32px;
}
#project-descriptor #description #tools-detail {
  margin-bottom: 15px;
}
    #project-section-container div h3,
    #tools-section-container div h3 {
      font-size: 40rem;
      
    }
  
    #project-section-container div p.disabled,
    #tools-section-container div p.disabled {
      font-size: 34rem;
      width: 800px;
    }
  
    #tools-section-container {
      margin-top: 100px;
      margin-bottom: 110px;
      padding-right: 360px;
      column-gap: 200px;
    }
    #tools-section-container div p {
      max-width: 850px;
  }
  #tools-container #toolbox {
    padding-right: 45px;
    width: 400px;
    height: 200px;
}
#toolbox .svg-container svg {
  width: 48px;
  height: 48px;
}
#tools-container #filter-container #current-filter {
  font-size: 18rem;
}
#tools-container #filter-container svg {
  width: 32px;
  height: 32px;
}
#tools-container #filter-container #filter-container-options {
  bottom: -200px;
}
#tools-container #filter-container #filter-container-options .filter-option{
  font-size: 16rem;
}
    #contact h3{
      margin-bottom: 50px;
      font-size: 40rem;
    }
    #contact #contact-form{
      width: 400px;
      row-gap: 20px;
    }
    #contact #contact-form label{
      font-size: 22rem;
    }
    #contact #contact-form label input{
      height: 50px;
    }
    #contact #contact-form label textarea{
      height: 130px;
      font-size: 22rem;
    }
    #contact #contact-form #socials a svg{
      width: 38px;
      height: 38px;
    }
    #contact #contact-form input[type="submit"] {
      width: 130px;
      height: 50px;
      font-size: 22rem;
  }
  .status-mail-error, .status-mail-success {
    width: 370px;
    bottom: 122px;
    right: 15px;
    font-size: 22rem;
}
    .quote{
        font-size: 18rem;
        margin: 40px;
    }
    
    footer{
    height: 120px;
    padding-top: 56px;
    font-size: 16rem;
    }
  }
}
}