



html {
  scroll-behavior: smooth;
}
#links{
  display: inline;
  margin-right: 50px;
}
a {
  font-family: 'Source Code Pro', monospace;
  font-size: 11rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

a:hover {
  color: #5CBBFF;
}

header{
  position: fixed;
  justify-content: space-between;
  z-index: 5;
  background-color: inherit;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.40);
}
header .logo{
  font-size: 16rem;
  margin-left: 50px;
}
#panels{
    display: none;
}
#gradient{
    position: relative;
     display: flex;
     width: 100%;
     justify-content: center;
}
#welcome{
    z-index: 2;
    width: 750px;
     height: 250px;
     align-items: flex-end;
     padding-top: 0px;
     margin-top: 130px;
     text-align: right;
     background: linear-gradient(282deg, rgba(3, 5, 11, 0.70) 69.62%, rgba(71, 71, 71, 0.00) 87.6%);
     box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.25);
}
#welcome h5{
    align-self: flex-end;
    margin-right: 115px;
  }
  #welcome > p{
    width: 60%;
  }
  #welcome > p{
    margin-right: 100px;
  }
  #welcome #avatar{
    width: 90px;
    position: absolute;
    top: 65px;
    right: 15px;
  }
  
  #gradient #code{
    position: absolute;
    z-index: 0;
    bottom: 0px;
    display: inline;
    height: 250px;
    opacity: 0;
    transition: 1.5s all ease;
  }

  #welcome .quote{
    font-size: 9rem;
      padding: 0px;
      margin-bottom: 0px;
      margin-top: 40px;
      margin-right: 15px;
  }