@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: calc((100% *1)/16);
}
body{
  font-family: 'Cascadia Code', monospace;
  width: 100vw;
    font-size: 16rem;
    background-color: #131F3F;
    color: #fff;
  }
  h3{
    margin-left: 20px;
    margin-bottom: 25px;
  }
  header{
    display: flex;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: 95px;
}
.logo{
    display: inline-block;
    height: fit-content;
    font-size: 25rem;
    text-align: center;
  }

  .logo-span{
    color: #5CBBFF;
  }

  .type-writer {
    border-right: 9px solid #ffffff;
  }
#panels-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    opacity: 0;
    transition: 1.5s all ease;
}
  #panels{
    display: block;
    width: 404px;
    height: 300px;
    background-image: url("../assets/img/panels.svg");
    background-repeat: no-repeat;
    position: relative;
  }

  #welcome{
    position: relative;
    display: inline-flex;
    padding-top: 40px;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 175px;
    background-color: #1c2a4b;
    opacity: 0;
    transition: 1.5s all ease;

  }
  #welcome img{
    position: absolute;
    top: -55px;
  }
  #welcome > h5{
    align-self: flex-start;
    margin-left: 10%;
    width: 223px;
  }
#welcome > p{
  display: inline-block;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  font-size: 11rem;
  color: #fff;
}
#welcome p b{
  color: #5CBBFF;
}


#projects-container{
  height: 375px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.project{
  display: inline-flex;
  align-items: center;
  height: 115px;
  background-color: #263459;
  border-radius: 23px;
}

.project figure{
    position: relative;
  margin: 0 15px;
  
}
.project figure img{
  width: 107px;
  height: 92px;
  object-fit:cover;
  border-radius: 15px;
}
.project figure:hover::before{
  content: url("../assets/img/eye.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project .info p{
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 9px;
}
.project .info h5{
  font-family: 'Source Code Pro', monospace;
}
#tools svg{
  margin: 0 3px;
  width: 16px;
  height: 16px;
}
/* ------------------------------------------------ */

/* ANIMATIONS */
  @keyframes blink-caret {
    50% { border-color: transparent; }
  }

/* MEDIA QUERIES */
  @media screen and (min-width: 320px) {
    #panels{
      width: 320px;
      height: 238px;
      background-image: url("../assets/img/panels-small.svg");
    }
    header{
      height: 80px;
  }
  .logo{

    font-size: 20rem;

  }
  #welcome > p{
    padding: 0 5px;
  }
  #welcome > h5{
    margin-top: 10px;
  }
  .project{
    margin: 8px 6.5px;
    width: 300px;
  }
  }
  @media screen and (min-width: 360px) {
    #panels{
      width: 360px;
      height: 238px;
      background-image: url("../assets/img/panels-medium.svg");
    }
    #welcome > p{
      padding-left: 30px;
      padding-right: 20px;
    }
    .project{
      margin: 8px 30px;
    }
  }

  @media screen and (min-width: 400px) {
    #panels{
      width: 404px;
      height: 238px;
      background-image: url("../assets/img/panels-large.svg");
    }
    .project{
      margin: 8px 42px;
      width: 330px;
    }
  }

